<!DOCTYPE html>
<html lang="en">
<body>

    <div class="home_body" id="blur">
        <h1 class="body_disc logo home_logo">
            Flights App
        </h1>
        <p class="disc_text">
            Flights booking wizard
        </p>
        <p class="disc_text">
            Easy, fast and simple
        </p>
        <div class="home_buttons">
            <a href="@Url.Action("","Offers")">
                <button class="home_button">
                    Offers
                </button>
            </a>
            <a>
                <button class="home_button" style="width:fit-content">
                    My Bookings
                </button>
            </a>
            <a>
                <button class="home_button" data-viewid="search" onclick="VActionWindow()">
                    Search
                </button>
            </a>
        </div>
    </div>
    <div class="footer">
        <p style="width:70%; margin-left:15%;">
            It sportsman earnestly ye preserved an on. Moment led family sooner cannot her window pulled any. Or raillery if improved landlord to speaking hastened differed he. Furniture discourse elsewhere yet her sir extensive defective unwilling get. Why resolution one motionless you him thoroughly. Noise is round to in it quick timed doors. Written address greatly get attacks inhabit pursuit our but. Lasted hunted enough an up seeing in lively letter. Had judgment out opinions property the supplied.

            Still court no small think death so an wrote. Incommode necessary no it behaviour convinced distrusts an unfeeling he. Could death since do we hoped is in. Exquisite no my attention extensive. The determine conveying moonlight age. Avoid for see marry sorry child. Sitting so totally forbade hundred to.

        </p>
    </div>

</body>

<div id="search" class="regbox offers-Item-box">
    <button class="book-button" onclick="VActionWindow()">Search</button>
    <button class="close_button" onclick="unVActionWindow()"></button>
    <div class="offers-item">
        <div class="offers-list-item-prop" style="width:40%">
            <p>Traveling from:</p>
            <select class="input_txt" name="from" id="from">
                @{
                    for (int i = 0; i < 10; i++)
                    {
                        <option value="airport @i"> airport @i</option>

                    }
                }
            </select>
        </div>
        <div class="offers-list-item-prop" style="width:40%">
            <p>Traveling to:</p>
            <select class="input_txt" name="to" id="to">
                @{
                    for (int i = 0; i < 10; i++)
                    {
                        <option value="airport @i"> airport @i</option>

                    }
                }
            </select>
        </div>
        <div style="width:10%"></div>
        <div style="height:.5rem">
            <input type="checkbox" value="Direct" /><label for="Direct">Direct only</label>
        </div>
        <div style="width:70%"></div>
        <div class="offers-list-item-prop" style="width:40%">
            <p>Depart:</p>
            <input type="date" placeholder="" class="input_txt">
        </div>
        <div class="offers-list-item-prop" style="width:40%">
            <p>Return:</p>
            <input type="date" placeholder="" class="input_txt">
        </div>
        <div style="width:90%"></div>
        <div style="width:90%"></div>
        <div class="offers-list-item-prop" style="width:27%">
            <select class="input_txt" name="type" id="type">
                <option value="Adult"> Economy</option>
                <option value="Adult"> Premium Economy</option>
                <option value="Adult"> Business</option>
                <option value="Adult"> First Class</option>

            </select>
        </div>
        <div class="offers-list-item-prop" style="width:27%">
            <select class="input_txt" name="from" id="type">
                <option value="Adult"> adult</option>
                <option value="Adult"> Child</option>
                <option value="Adult"> infant</option>
            </select>
        </div>
        <div class="offers-list-item-prop" style="width:27%">
            <input type="radio" name="tran" value="Oneway"><label for="Oneway">One way</label><br />
            <input type="radio" name="tran" value="Return"><label for="Return">Return</label>
        </div>
        <div style="width:90%"></div>
        <div style="width:90%"></div>
    </div>
</div>
</html>