@using flights.DTOs
@model AllInfoDto
<!DOCTYPE html>
<div class="home_body" " id="blur">
    <div class="big-box">
        <p class="box-title">
            <span><a href="@Url.Action("", "Home")"> <strong><</strong> Back </a> | Offers:</span>
        </p>
        <div class="filter">
            Filter: 
            <span>
                <select class="input_txt" name="filter" id="filter">
                    <option value="best"> best</option>
                    <option value="cheapest"> cheapest</option>
                    <option value="fastest"> fastest</option>
                </select>
            </span>
        </div>
        <div class="offers-list">
            <div class="list-upper"></div>
            @{
                var c = new List<string>() { "#ececec", "#ffffff" };
                var x = 0;
                for (int i = 0; i < Model.Flights.Count(); i++)
                {
                    var flight = Model.Flights.ElementAt(i);
                    <div class="offers-list-item" style="background-color:@c.ElementAt(x);">
                        <button class=" list-button" data-viewid="offer @i" onclick="VActionWindow()">
                            <span class="list-button-txt" data-viewid="offer @i">Book Now</span>
                        </button>
                        <span class="offers-list-item-prop">From Airport:           <b> @flight.FromAirport             </b>   </span>
                        <span class="offers-list-item-prop">To Airport:             <b> @flight.ToAirport               </b>   </span>
                        <span class="offers-list-item-prop">Airplane:               <b> @flight.Airplane                </b>   </span>
                        <span class="offers-list-item-prop">Departure Time:         <b> @flight.DepartureTime           </b>   </span>
                        <span class="offers-list-item-prop">Arrival Time:           <b> @flight.ArrivalTime             </b>   </span>
                        <span class="offers-list-item-prop">Date:                   <b> @flight.Date                    </b>   </span>
                        <span class="offers-list-item-prop">Ticket Price:           <b> @flight.TicketPrice             </b>   </span>
                        <span class="offers-list-item-prop">Business Ticket Price:  <b> @flight.BusinessTicketPrice     </b>   </span>
                        <span class="offers-list-item-prop">Econominy Ticket Price: <b> @flight.EconominyTicketPrice    </b>   </span>
                        <span class="offers-list-item-prop">Child Ticket Price:     <b> @flight.ChildTicketPrice        </b>   </span>
                    </div>
                    x = 1 - x;
                }
            }
        </div>
    </div>
</div>
@{
    for (int id = 0; id < Model.Flights.Count(); id++)
    {
        /* invioce */
        var flight = Model.Flights.ElementAt(id);
        <div id="book @id" class="regbox offers-Item-box">
            <form asp-controller="Offers" asp-action="Book" method="POST">
                <button class="book-button" data-viewid="book @id" onclick="VActionWindow()" asp-action="Book">Book</button>
                <button class="close_button" onclick="unVActionWindow()" asp-action=""></button>
                <div class="offers-item">
                    <span class="offers-list-item-prop" style="width:40%">From Airport:        <b> @flight.FromAirport             </b>   </span>
                    <span class="offers-list-item-prop" style="width:40%">To Airport:          <b> @flight.ToAirport               </b>   </span>
                    <span class="offers-list-item-prop" style="width:40%">Airplane:            <b> @flight.Airplane                </b>   </span>
                    <span class="offers-list-item-prop" style="width:40%">Departure Time:      <b> @flight.DepartureTime           </b>   </span>
                    <span class="offers-list-item-prop" style="width:40%">Arrival Time:        <b> @flight.ArrivalTime             </b>   </span>
                    <span class="offers-list-item-prop" style="width:40%">Date:                <b> @flight.Date                    </b>   </span>
                    <span class="offers-list-item-prop" style="width:40%">Ticket Price:        <b id="ticket @id"> @flight.TicketPrice             </b>   </span>
                    <span class="offers-list-item-prop" style="width:40%">Total:               <b id="total @id">  @flight.TicketPrice             </b>   </span>
                </div>
            </form>
            <div class="offers-item">
                <span class="offers-list-item-prop" style="width:50%">
                    Max Baggage Weight:
                    <span> <button style="border: 0; font-weight: bolder" data-viewid="book @id" onclick="sub()" asp-action=""> - </button></span>
                    <input type="text" id="Weight @id" style="width:3rem" value="30kg" readonly="readonly" onchange="print()" />
                    <span> <button style="border: 0; font-weight: bolder" data-viewid="book @id" onclick="add()" asp-action=""> + </button></span>
                </span>
            </div>
            <div class="offers-item">
                <div class="offers-list-item-prop" style="width:40%">
                    <p>Gender:</p>
                    <input type="radio" name="gender" value="Male"><label for="paypal"><img style="height:1.1rem" src="./images/paypal.png"></label>
                    <input type="radio" name="gender" value="Female"><label for="CorD">Credit or Debit</label>
                </div>
                <div class="offers-list-item-prop" style="width:40%">
                    <p>Name on Card:</p>
                    <input type="text" placeholder="Name" class="input_txt" asp-for="Fname">
                </div>
                <div class="offers-list-item-prop" style="width:40%">
                    <p>Card Number</p>
                    <input type="text" placeholder="Last Name" class="input_txt" asp-for="Lname">
                </div>
                <div class="offers-list-item-prop" style="width:40%">
                    <p>Security Code:</p>
                    <input type="password" placeholder="Password" class="input_txt">
                </div>
            </div>
        </div>



        /* info */
        <div id="offer @id" class="regbox offers-Item-box">
            <button class="book-button" data-viewid="book @id" onclick="VActionWindow()">Book</button>
            <button class="close_button" onclick="unVActionWindow()"></button>
            <div class="offers-item">
                <span class="offers-list-item-prop" style="width:40%">From Airport:           <b> @flight.FromAirport             </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">To Airport:             <b> @flight.ToAirport               </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Airplane:               <b> @flight.Airplane                </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Departure Time:         <b> @flight.DepartureTime           </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Arrival Time:           <b> @flight.ArrivalTime             </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Date:                   <b> @flight.Date                    </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Ticket Price:           <b> @flight.TicketPrice             </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Business Ticket Price:  <b name="tktT @id" id="Business">  @flight.BusinessTicketPrice     </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Econominy Ticket Price: <b name="tktT @id" id="Econominy"> @flight.EconominyTicketPrice    </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Child Ticket Price:     <b name="tktT @id" id="Child">     @flight.ChildTicketPrice        </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Max Baggage Weight:     <b> 30kg                            </b>   </span>
            </div>
            <div class="offers-item">
                <div class="offers-list-item-prop" style="width:40%">
                    <p>First Name:</p>
                    @{
                        string fval = "";
                        if (Model.User != null)
                            fval = Model.User.Fname;

                        <input required type="text" placeholder="First Name" class="input_txt" asp-for="Fname" value=@fval>
                    }
                </div>
                <div class="offers-list-item-prop" style="width:40%">
                    <p>Last Name:</p>
                    @{
                        string lval = "";
                        if (Model.User != null)
                            lval = Model.User.Lname;

                        <input type="text" placeholder="Last Name" class="input_txt" asp-for="Lname" value=@lval>
                    }
                </div>
                <div class="offers-list-item-prop" style="width:40%">
                    <p>Nationality:</p>
                    <input type="text" placeholder="Nationality" class="input_txt">
                </div>
                <div class="offers-list-item-prop" style="width:40%">
                    <p>Gender:</p>
                    <input type="radio" name="gender" value="Male"><label for="Male">Male</label>
                    <input type="radio" name="gender" value="Female"><label for="Female">Female</label>
                </div>
                <div class="offers-list-item-prop" style="width:40%">
                    <p>Birth Date:</p>
                    <input type="date" placeholder="Birth Date" class="input_txt">
                </div>
                <div class="offers-list-item-prop" style="width:40%">
                    <p>Passport NO:</p>
                    <input type="text" placeholder="Passport NO" class="input_txt">
                </div>
                <div class="offers-list-item-prop" style="width:90%; margin-bottom:-1rem">
                    <p>Ticket Type:</p>
                    <input type="radio" name="Type @id" value="Business"><label for="Business">Business</label>
                    <input type="radio" name="Type @id" value="Econominy"><label for="Econominy">Econominy</label>
                    <input type="radio" name="Type @id" value="Child"><label for="Child">Child</label>
                </div>
            </div>
        </div>
    }
}
