<!DOCTYPE html>
<div class="home_body" " id="blur">
    <div class="big-box">
        <p class="box-title">
            <span><a href="@Url.Action("", "Home")"> <strong><</strong> Back </a> | Offers:</span>
        </p>
        <div class="offers-list">
            <div class="list-upper"></div>
            @{
                var c = new List<string>() { "#ececec", "#ffffff" };
                var x = 0;
                for (int i = 0; i < 10; i++)
                {
                    <div class="offers-list-item" style="background-color:@c.ElementAt(x);">
                        <button class=" list-button" data-viewid="offer @i" onclick="VActionWindow()">
                            <span class="list-button-txt" data-viewid="offer @i">Book Now</span>
                        </button>
                        <span class="offers-list-item-prop">From Airport:           <b> Airport @i         </b>   </span>
                        <span class="offers-list-item-prop">To Airport:             <b> Airport @(i + 1)   </b>   </span>
                        <span class="offers-list-item-prop">Airplane:               <b> Airplane@(i)       </b>   </span>
                        <span class="offers-list-item-prop">Departure Time:         <b> 1@(i):00           </b>   </span>
                        <span class="offers-list-item-prop">Arrival Time:           <b> 1@(i+1):00         </b>   </span>
                        <span class="offers-list-item-prop">Date:                   <b> @i/3/2023          </b>   </span>
                        <span class="offers-list-item-prop">TicketPrice:            <b> @i/3/2023          </b>   </span>
                        <span class="offers-list-item-prop">Business Ticket Price:  <b> 100$               </b>   </span>
                        <span class="offers-list-item-prop">Econominy Ticket Price: <b> 50$                </b>   </span>
                        <span class="offers-list-item-prop">Child Ticket Price:     <b> 20$                </b>   </span>
                    </div>
                    x = 1 - x;
                }
            }
        </div>
    </div>
</div>
@{
    for (int id = 0; id < 10; id++)
    {
        /* invioce */
        <div id="book @id" class="regbox offers-Item-box">
            <button class="book-button" data-viewid="book @id" onclick="VActionWindow()">Book</button>
            <button class="close_button" onclick="unVActionWindow()"></button>
            <div class="offers-item">
                <span class="offers-list-item-prop" style="width:40%">From Airport:        <b> Airport @id        </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">To Airport:          <b> Airport @(id + 1)  </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Airplane:            <b> Airplane@(id)      </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Departure Time:      <b> 1@(id):00          </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Arrival Time:        <b> 1@(id+1):00        </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Date:                <b> @id/3/2023         </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Ticket Price:        <b id="ticket @id"> 100$  </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Total:               <b id="total @id"> 100$   </b>   </span>
            </div>
            <div class="offers-item">
                <span class="offers-list-item-prop" style="width:50%">
                    Max Baggage Weight:
                    <span> <button style="border: 0; font-weight: bolder" data-viewid="book @id" onclick="sub()"> - </button></span>
                    <b id="Weight @id">20kg</b>
                    <span> <button style="border: 0; font-weight: bolder" data-viewid="book @id" onclick="add()"> + </button></span>
                </span>

            </div>
        </div>


        /* info */
        <div id="offer @id" class="regbox offers-Item-box">
            <button class="book-button" data-viewid="book @id" onclick="VActionWindow()">Book</button>
            <button class="close_button" onclick="unVActionWindow()"></button>
            <div class="offers-item">
                <span class="offers-list-item-prop" style="width:40%">From Airport:           <b> Airport @id        </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">To Airport:             <b> Airport @(id + 1)  </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Airplane:               <b> Airplane@(id)      </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Departure Time:         <b> 1@(id):00          </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Arrival Time:           <b> 1@(id+1):00        </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Date:                   <b> @id/3/2023         </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Business Ticket Price:  <b name="tktT @id" id="Business"> 100$              </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Econominy Ticket Price: <b name="tktT @id" id="Econominy"> 50$               </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Child Ticket Price:     <b name="tktT @id" id="Child"> 20$               </b>   </span>
                <span class="offers-list-item-prop" style="width:40%">Max Baggage Weight:     <b> 20kg              </b>   </span>
            </div>
            <div class="offers-item">
                <div class="offers-list-item-prop" style="width:40%">
                    <p>First Name:</p>
                    <input type="text" placeholder="First Name" class="input_txt" asp-for="Fname">
                </div>
                <div class="offers-list-item-prop" style="width:40%">
                    <p>Last Name:</p>
                    <input type="text" placeholder="Last Name" class="input_txt" asp-for="Lname">
                </div>
                <div class="offers-list-item-prop" style="width:40%">
                    <p>Nationality:</p>
                    <input type="text" placeholder="Nationality" class="input_txt">
                </div>
                <div class="offers-list-item-prop" style="width:40%">
                    <p>Gender:</p>
                    <input type="radio" name="gender" value="Male"><label for="Male">Male</label>
                    <input type="radio" name="gender" value="Female"><label for="Female">Female</label>
                </div>
                <div class="offers-list-item-prop" style="width:40%">
                    <p>Birth Date:</p>
                    <input type="date" placeholder="Birth Date" class="input_txt">
                </div>
                <div class="offers-list-item-prop" style="width:40%">
                    <p>Passport NO:</p>
                    <input type="text" placeholder="Passport NO" class="input_txt">
                </div>
                <div class="offers-list-item-prop" style="width:90%; margin-bottom:-1rem">
                    <p>Ticket Type:</p>
                    <input type="radio" name="Type @id" value="Business"><label for="Business">Business</label>
                    <input type="radio" name="Type @id" value="Econominy"><label for="Econominy">Econominy</label>
                    <input type="radio" name="Type @id" value="Child"><label for="Child">Child</label>
                </div>
            </div>
        </div>
    }
}
